<div ng-cloak>
	
	<div layout-gt-sm="row" layout-align="center center">
				

				<div ngf-select="vm.uploadFilePrepare(file)" ngf-drop="vm.uploadFilePrepare(file)" ng-model="file" class = "drop-box"
					ngf-model-invalid="invalidFiles"
					ngf-model-options="modelOptionsObj" ngf-multiple="false"
					ngf-capture="capture"
					ngf-drag-over-class="dragOverClassObj"
					ngf-resize="{width: 500, height: 500}" ngf-max-size="20MB"
					ngf-allow-dir="true" class="drop-box"
					ngf-drop-available="dropAvailable">
					Select File <span ng-show="dropAvailable"> or Drop File</span>


				</div>
				<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
				<md-input-container class="block" flex-gt-sm ng-if="file">
				
				</md-input-container>



			</div>
			
			<ul>
				<li>{{file.name}}</li>
			</ul>
	<table
		class="table table-bordered table-hover table-condensed editable-table">
		<thead>
			<tr>
				<th>File Name</th>
				<th>Action</th>
			</tr>
			
		</thead>
		<tbody>
			<tr ng-repeat="file in files">
				<td>{{file.file_name}}</td>
				<td><md-button class="btn btn-success" ng-click="vm.downloadFile(file)">Download</md-button></td>
			</tr>
		</tbody>
		</table>
</div>
<style>
	.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
</style>
